<h1>Tamagotchi</h1>
  <h2>Name: <%= @name %></h2>
<form action="/play">

  <h3>Food Level: <%= @food_level %></h3>
  <h3>Sleep Level: <%= @sleep_level %></h3>
  <h3>Activity Level: <%= @activity_level %></h3>

  <button type="submit" name="button">Feed!</button>
</form>
